.jumbotron {
    text-align: center;
    color: white;
    background-color: black;
}

table,
form {
    max-width: 85%;
    margin: auto;
}

#trainHead {
    text-align: center;
    font-size: 22px;
    font-weight: bolder;
    padding: 2%;
}